:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-background-color: #f5f4fa;
  --color-fone: #ffffff;
  --background-color: #2f303a;
}

body {
  background-color: var(--color-fone);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**{
    color: black;
}

/*лого*/

.container { 
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color);
}

/*шапка*/
.nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-left: 93px;
}

.nav .nav_button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav .item {
  margin-right: 50px;
}
.item{
  display: flex;
  align-items: center;
}
.nav .item:last-child {
  margin-right: 0;
}

.contacts {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contacts .item + .item {
  margin-left: 30px;
}

/*proba*/
.svg-mail {
  display:inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;  
  
}

.svg-tel {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor; 
}


/*button*/
.nav_button {
  color: var(--title-text-color);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.nav_button:hover,
.nav_button:focus {
  color: var(--accent-color);
  text-decoration: none;
}
.nav_button.current{
  color: var(--accent-color);
}

.nav_button:active {
  color: var(--title-text-color);
  text-decoration: none;  
}

.nav_button.current::after{
  content: "";
  display:block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}






.nav_contacts {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.nav_contacts:hover,
.nav_contacts:focus {
  color: var(--accent-color);
  text-decoration: none;
  fill: var(--accent-color);
  
}

.nav_contacts:active {
  color: var(--title-text-color);
  text-decoration: none;
}

/*heroy*/
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-fone);
  padding-bottom: 0px;
  margin: 0px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imagas/Img.jpg);
  background-color: rgba(196, 196, 196, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}

.button-hero {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--color-fone);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: transparent;
}

/*fishka*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

.fiska-style {
  display: flex;
}

.fiska-style .fitem {
  display: block;
  width: 270px;
  margin-bottom: 0px;
  margin-right: 30px;
}

.fiska-style .fitem:last-child {
  margin-right: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
.fishka-icon{
  display: flex;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

}

.icon-plane{
  display:inline-flex;
  height: 70px;
  width: 70px;
}

.fiska-a {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.fishka-d {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*секции*/

.comands {
  background: #f5f4fa;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.frends {
  display: flex;
  flex-wrap: wrap;
}

.frend-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container .frierds-list {
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--color-fone);
}

.frierds-list {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.frierds-list:last-child {
  margin-right: 0px;
}
/*galery*/
.galery {
  
  display: flex;
  margin-top: 50px;
}
.foto-text{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  left: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);;
  color: var(--color-fone);
}
.foto{
  position: relative; 

}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.galery-section {
  padding-top: 0;
}

.galery .foto {
  
  margin-right: 30px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.galery .foto:last-child {
  margin-right: 0;
}

.frends {
  background: var(--button-background-color);
  margin-top: 50px;
}

.frends-name {
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.frends-prof {
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 16px;
}

.friends-button {
  display: flex;
  padding: 0;  
  justify-content: center;
}

.social-linc {  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-linc:hover,
.social-linc:focus {
  background-color:#2196f3;
  color: #ffffff;
}


.social-item {   
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.item-blok {  
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;  
}

.item-blok:last-child{
  margin-right: 0;
}

/*Постоянные клиенты*/
.best-clients {
  display: flex;
  margin-top: 50px;
}

.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border:1px solid #2196F3;
  color: rgba(33, 150, 243, 1);
}


.client-svg {
  width: 106px;
  height: 60px;
  fill:currentColor;
  padding: 0;
}


.client {
  height: 92px;
  margin-right: 30px;
}
.client:last-child {
  margin-right: 0;
}



/*button*/

.container-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  min-height: 100px;
  width: 611;
}

.button {
  color: var(--title-text-color);
  background-color: var(--button-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--color-fone);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;  
}

.pointer {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 38px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.navlist {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navlist .navli {
  margin-right: 8px;
}

.navlist .navli:last-child {
  margin-right: 0;
}
/*project*/
.project {
  display: flex;
  flex-wrap: wrap;
}

.project-blok {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.flex-element:hover .project-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:focus .project-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-info {
  display: flex;
  position: absolute;
  width: 322px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-fone);
}

.project-text {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-element {

  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

}

.flex-element:hover .project-overlay{
  opacity: 1;
}


.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link{
  
  display:inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  padding: 0;
  margin-bottom: 4px;
}

.progject-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer {
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  
  
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

.address-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-fone);
  text-decoration: none;
}

.addres-mail,
.address-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo-footer {
  color: var(--color-fone);
}

.adress-li {
  margin-top: 9px;
  margin-bottom: 9px;
}

.logo-footer {
  display: inline-block;
}

.logo-foot {
  display: block;  
  font-family: Raleway;  
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.adress-footer {
  display:inline-flex;
  margin-top: 20px;
}

.adress-ul {
  display: inline-block;
  padding-left: 0;
}

/*Присоеденяйтесь*/
.footer-join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join{
  display: flex;
}
.join-blok{
  margin-right: 93px;
}
.icone-footer{
  margin-right: 10px;
}
.icone-footer:last-child{
  margin-right: 0px;
}

.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: rgba(33, 150, 243, 1);
}
.footer-svg{
  width: 20px;
  height: 20px;
  fill: currentColor;
  padding: 0;
}


.container-footer{
  display: flex;
  align-items: baseline;
  background-color: #2f303a;
}
.adress-blok{
  margin-right: 70px;
}

.button-subscribe{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.875;
  cursor: pointer;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2787px;
  padding: 0;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.mailing-svg{
  
  width: 24px;
  height: 24px;
}
.mailing-link{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.mailing-input{
  display: inline-block;
  width: 358px;
  height: 50px;    
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  background-color: #2F303A;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);

}
.mailing input::placeholder{
  
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  
}
/*модальное окно*/

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.modal{
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  width: 528px;
  height: 581px;  
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-close{
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
 
}
.close-icon{
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon:hover,
.close-icon:focus{
  fill: var(--accent-color);
}

.register-text {
  display: inline;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  margin: 0;
  
}


.group{
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form{
  margin-top: 12px;
}
.form-field{
  position: relative;
  display: flex;
  width: 448px;
  flex-direction: column;
  margin-right: auto;  
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: #757575;
}
.coment{
  padding-bottom: 20px;
}

.form-input{
  padding-left: 35px;
  width: 100%;
  height: 40px;  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  background-color:transparent;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .form-svg{
  fill: var(--accent-color);
}

.form-label{  
  display: block;  
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.input-icon{
  position: relative;
  left: 0;
  top: 50%;
  /*transform: translate(-50%);*/
}

.form-svg{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form-textarea{
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  
}

.form-textarea:focus {
  border-color:  rgba(33, 150, 243, 1);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5); 
}

/*соглашение*/
.checkbox{
  display: inline-flex;
  justify-content: center;
  padding-bottom: 0;
 
  

}
.treaty-text{
  color: var(--accent-color);
  text-decoration: none;
  padding-left: 3px;
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

.modal-check-text{
  font-size: 15px;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  
}

.modal-check-text::before{
  content: "";
  width: 16px;
  height: 15px;
  border: 3px solid #212121;  
  margin-right: 8px;
}
.modal-check:checked + .modal-check-text::before{
  background-color: var(--accent-color);
  background-image: url(../imagas/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: transparent;
}

/*Кнопка закрыть*/
.button-modal{
  display: flex;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

